<!-- Main Element for Full width -->
<div id="nav-bar-main">
    <div class="container">
        <!-- Element for actual navbar -->

        <div class="row">
            <div class="col-lg-offset-2 col-lg-5" style="padding-top:15px;">
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon"><span class=" glyphicon glyphicon-search"></span> </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div id="nav-bar" class="pull-right">
                    <ul>
                        <a href="/">
                            <li class="glyphicon glyphicon-home"><span class="nav-bar-font">Home</span></li>
                        </a>
                        <a href="/about/">
                            <li class="glyphicon glyphicon-pencil"><span class="nav-bar-font">About</span></li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>